:root {
  --base-color: #ffffff;
  --side-color: #e5e5e5;
}

body {
  margin: 0;
  color: #000;
  background-color: var(--base-color);
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  font-size: 3vmin;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.header {
  width: 100%;
  height: 8vmin;
  background-color: var(--base-color);
  display: flex;
  justify-content: right;
  align-items: center;
  /* padding: 1vmin; */
}

.close_button {
  margin: 0.5rem;
}

.side_menu_icon {
  display: flex;
  justify-content: center;
  height: 1.25rem;
  /* 4vmin; */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_open {
  display: block;
}

.side_menu {
  width: 30%;
  height: 100%;
  background-color: var(--side-color);
  z-index: 10;
  position: absolute;
  right: 0%;
  font-size: 2vmin;
}

.side_menu.close {
  right: -100%;
  display: none;
}

.feature_description {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 2.75rem;
  font-size: 0.75rem;
  color: #999;
  padding-right: 0.5rem;
}

.side_menu_list {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--base-color);
  height: 2.75rem;
  font-size: 1rem;
}

.switch__label {
  width: 3.125rem;
  position: relative;
  display: inline-block;
  right: 0;
  margin: 0.25rem;
}

.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 0.25rem;
  height: 2rem;
  overflow: hidden;
}

.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #e5e5ea;
  border-radius: 30px;
  background-color: var(--base-color);
}

.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.switch__input {
  display: none;
}

.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
  box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: var(--base-color);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.switch__input:checked ~ .switch__circle {
  left: 21px;
}

.switch__input:checked ~ .switch__content:after {
  background-color: #00c4cc;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  display: grid;
  justify-content: center;
  text-align: center;
}

#title {
  font-size: 2rem;
  margin: 0.8rem 0;
}

#haed {
  display: flex;
  margin: 0 0 0 auto;
  justify-content: center;
  align-items: center;
}

#back_page {
  font-size: 1.375rem;
}

#miss {
  margin-left: 1vmin;
}

.timerIcon {
  height: 1.25rem;
  margin: 5px;
}

#timer {
  font-size: 1.375rem;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 1.5px solid #848484;
  width: 60vmin;
  height: 60vmin;
  background-color: var(--base-color);
}

.cell {
  text-align: center;
  position: relative;
  justify-content: center;
  border: 0.5px solid #cfcfcf;
  font-size: 4vmin;
  cursor: pointer;
}

.col3,
.col6 {
  border-bottom: 0.5px solid #848484;
}

.col4,
.col7 {
  border-top: 0.5px solid #848484;
}

.row3,
.row6 {
  border-right: 0.5px solid #848484;
}

.row4,
.row7 {
  border-left: 0.5px solid #848484;
}

section {
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 5vh;
}

.iconText {
  display: grid;
}

#inputPanel-container {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 10vmin;
}

.panel {
  width: 6.5vmin;
  height: 6.5vmin;
  text-align: center;
  position: relative;
  justify-content: center;
  border: 0.1vmin solid #4f7ca1;
  box-shadow: 0px 5px 5px #e2e2e2;
  background-color: var(--base-color);
  margin: 0 1px;
  border-radius: 1vmin;
  font-size: 4vmin;
  color: #4f7ca1;
}

/* メディアクエリ */
@media screen and (max-width: 600px) {
  #grid-container {
    width: 90vmin;
    height: 90vmin;
  }

  .side_menu {
    width: 100%;
  }

  .cell {
    font-size: 6vw;
  }

  #inputPanel-container {
    width: 100%;
    height: auto;
  }

  .panel {
    width: 10vmin;
    height: 10vmin;
    margin: 0 0.1vw;
    font-size: 6vw;
    border-radius: 1vmin;
    border: 0.1vmin solid #4f7ca1;
  }
}
